
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

html {
    font-family: "Monserrat", sans-serif;  
}
body {
    background-color: #7ED5EA;
    
}


/* Header */
li, a, button {
    font-family: "Monserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #7ED5EA;
    text-decoration: none;
    border-radius: 7.5px;
}
#header{
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}

#header .header{
    min-height: 8vh;
    background-color: #7ED5EA;
}
#header .nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
}

#header .nav-list ul{
    list-style: none;
    position: absolute;
    background-color: #7ED5EA;
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
    transition: .5s ease left;
    }
#header .nav-list ul.active{
        left: 0%;
    }

 #header .nav-list ul a{
        font-size: 1.5rem;
        font-weight: 200;
        letter-spacing: .2rem;
        text-decoration: none;
        color: #7ED5EA;
        text-transform: uppercase;
        padding: 10px;
        display: block;
 }

  #header .nav-list ul a::after{
    content: 'Text';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    font-size: 9rem;
    letter-spacing: 50px;
    z-index: -1;
    
    }

    .Nav_link li { 
        display: inline;
        padding: 5px 10px;
        background-color: whitesmoke;
        margin: 10px;
    }

/* Hamburger */
#header  .hamburger{
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid white;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    transform: scale(0.8);
    margin-right: 20px;
}
#header  .hamburger:after{
position: absolute;
content: '';
height: 100%;
width: 100%;
border-radius: 50%;
border: 3px solid white;
animation: hamburger_puls 1s ease infinite;
}

#header .hamburger .bar{
height: 2px;
width: 30px;
position: relative;
background-color: white;
z-index: -1;

}

#header .hamburger .bar::after,
#header .hamburger .bar::before{
content: '';
position: absolute;
height: 100%;
width: 100%;
left: 0;
background-color: white;
transition: .3s ease;
transition-property: top, bottom;
}

#header .hamburger .bar::after{
top: 8px;
}

#header .hamburger .bar::before{
bottom: 8px;
}

#header .hamburger.active .bar::before{
    bottom: 0;
}

#header .hamburger.active .bar::after{
top: 0;
}


/* end of hamburger */

/* Images for Nav */
.logo {
    cursor: pointer;
    margin-right: auto;
    margin-left: 30px;
    margin-top: 10px;
    width: 70px;
    height: 70px;}
/* End of Images for Nav */

/* End of Header */

/* Background*/
#hero .container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 90px;
}
#HomePage {
    background-image: url(Img/evangelos-mpikakis-B47pEYyd7m0-unsplash.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    z-index: 1;
    height: 100%;
    max-width: 100%;
}

#HomePage::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #7ED5EA;
    opacity: .6;
    z-index: -1;
}

#hero h1{
    display: block;
    position: relative;
    color: transparent;
    font-size: 4rem;
    width: fit-content;
    animation: text_reveal 0.5s ease forwards;
    animation-delay: 1s;

}
#hero h1:nth-child(1){
    animation-delay: 1s;
}
#hero h1:nth-child(2){
    animation-delay: 2s;
}
#hero h1:nth-child(3){
    animation-delay: 3s;
}

#hero h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #7ED5EA;
    animation: text_reveal_box 1s ease;
    animation-delay: .3s;
}

#hero h1:nth-child(1) span{
    animation-delay: 0.5s;
}

#hero h1:nth-child(2) span{
    animation-delay: 1.5s;
}

#hero h1:nth-child(3) span{
    animation-delay: 2.5s;

}

/* Key Frames*/

@keyframes hamburger_puls{
    0%{
        opacity: 1;
        transform: scale(1);
    }
    100%{
        opacity: 0;
        transform: scale(1.3);
    }
}

@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}
@keyframes text_reveal {
    100%{
        color: whitesmoke;
    }
}    
/* End of Key frames*/

/* Media */

@media only screen and (min-width: 1200px){
    /* header */

    #header .hamburger{
        display: none;
    }
    #header .nav-list ul{ 
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
        background-color: transparent;
        
    
    }
    #header .nav-list ul li{
        display: inline-block;
        text-decoration: solid;
        }  
    
    #header .nav-list ul li a{
        font-size: 0.9rem; 
        
    }

    #header .nav-list ul a:after{
        display: none;
    }

    .logo {
        cursor: pointer;
        margin-right: auto;
        margin-left: 30px;
        margin-top: 10px;
        width: 70px;
        height: 70px;
    }
    
}

/* About us Page */

  .card-main  {
background: #7ED5EA;
display: flex;
justify-content: center;
align-items: center;
margin-top: 120px;
flex-direction: column;
padding: 50px;
}
.card-container{
  position: relative;
  width: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
}

.card-container .aboutcard{
  position: relative;
  max-width: 300px;
  height: 300px;
  margin: 30px 10px;
  padding: 20px 15px;
  background: #7ED5EA;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 202px rgba(0, 0, 0, 0.3);
  transition: 0.3s ease-in-out;
  border-radius: 5px;


}

.card-container .aboutcard:hover{
  height: 420px;
}

.card-container .aboutcard .card-img{
  position: relative;
  width: 260px;
  height: 260px;
  top: -60px;
  left: 20px;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.2)  ;
  border-radius: 4px;
  
}

.card-container .aboutcard .card-img img{
  width: 250px;
  height: 300px;
  border-radius: 4px;
  padding: 10px;

}

.card-container .aboutcard .card-content{
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;

  visibility: hidden;
  opacity: 0;
  transition: 0.3 ease-in-out;
}
  .card-container .aboutcard:hover .card-content{
      visibility: visible;
      opacity: 1;
      margin-top: -40px;
      transition-delay: 0.3s;
  }

  .card-content H2,H1, p{
    color: whitesmoke;
  }


/*Image Grid*/


.Foodrow {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
      }
  
.Foodcolumn {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
.Food img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }

  /* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .Foodcolumn {
    flex: 50%;
    max-width: 50%;
  }
}
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .Foodcolumn {
    flex: 100%;
    max-width: 100%;
  }
}

  /* End of Images for food Page */


  /* Destinations Page */


/* Style all font awesome icons */
.fa {
    padding: 5px;
    margin: 10px;
    font-size: 30px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    display: table-cell;
  } 
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  /* LinkedIn */
  .fa-linkedin {
    background: #3B5998;
    color: white;
  

  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  /* Github */
  .fa-github {
    background: #616868;
    color: white;
  }
  
  .social {
    margin: auto;
    width: 150px;
    padding: 10px;
    display:flex; justify-content:center;
    }
  
    /* Responsive layout - makes a two column-layout instead of four columns */
    @media screen and (max-width: 800px) {
      .Nav_link li {
        display: block;
        margin: 5px;
      }
    }
    
    /* centering the created by team 5*/
    #p2 {
      text-align: center;
      padding-bottom: 20px;
    }
  /*Slideshow  */
/* Position the image container (needed to position the left and right arrows) */
.Destination-container {
  position: relative;
  padding-left: 100px;
  padding-right: 100px;
}  

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

 /* Position the "prev button" to the right */
.prev {
  left: 0;
  border-radius: 3px 0 0 3px; 
}


/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.Destination .row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.Destination .column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

  /* End of destinations page */